<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/Static/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body class="bg-[#F8F9FA] flex flex-col md:flex-row">
    <header class="px-5 py-5 bg-white md:sticky md:top-0 md:h-screen md:w-[18%] md:border-r md:border-[#E1E3E4]">
            <!--For Mobile-->
            <section class="md:hidden">
                <!--Left Navbar-->
                <div class="flex flex-row items-center gap-1">
                    
                    <div class="trip-icon">
                        <i data-lucide="compass"></i>
                    </div>

                    <div>
                        <P class="font-semibold text-[24px] text-[#002631]">TripTrack</P>
                    </div>
                </div>

                <!--Right Navbar-->
                <div class="">

                </div>
            </section>

            <!--For Deskop-->
            <section>
                <div class="hidden md:block p-4 flex flex-col gap-6 ">

                    <!--Header side bar-->
                    <div class="flex flex-row items-center gap-2 py-2 pt-4 pb-6 border-b border-[#E1E3E4] ">
                        <div class="bg-[#003D4D] flex justify-center w-[40px] h-[40px] items-center rounded-full">
                            <div class="icon-people">
                                <i data-lucide="user"></i>
                            </div>
                        </div>

                        <div class="">
                            <P class="text-[#002631] font-semibold text-[24px]">TripTrack</P>

                            <P class="text-[#41484B] font-semibold text-[12px] whitespace-nowrap">Manage Expenses</P>
                        </div>
                    </div>

                    <nav class="flex flex-col gap-3">
                        <a href="">
                            <div class="bg-[#003D4D] px-4 py-2 flex flex-row items-center gap-2 rounded">
                                <div class="icon-trip">
                                    <i data-lucide="backpack"></i>
                                </div>

                                <P class="text-[#79A8BA] font-bold text-[12px]">My Trips</P>
                            </div>
                        </a>

                        <a href="">
                            <div class=" px-4 py-2 flex flex-row items-center gap-2 rounded">
                                <div class="icon-settings text-[#41484B] ">
                                    <i data-lucide="settings"></i>
                                </div>

                                <P class="text-[#41484B] font-bold text-[12px]">settings</P>
                            </div>
                        </a>
                    </nav>
                </div>
            </section>
    </header>

    <main class="flex-1">
        <!--Header main-->
        <section>
            <div class="px-5 py-4">
                <div class="">
                    <p class="font-bold text-[32px] text-[#002631]">My Trips</p>
                    <P class="text-[16px] text-[#71787C]">Track your expenses throughout every journey</P>
                </div>
            </div>
        </section>

        <!--Trip List-->
        <section>
            <div class="px-5 py-4 grid grid-cols-1 md:grid-cols-2 gap-6 max-h-[70vh] scrollbar-hide overflow-auto ">
                <div class="bg-white p-4 rounded-[12px] flex flex-col gap-4 shadow-[0_4px_20px_0_rgba(0,61,77,0.05)]">
                    <!--header card-->
                    <div class="flex flex-col gap-2 ">
                        <!--Tittle card-->
                        <div class="flex flex-row items-center justify-between">
                            <P class="text-[#002631] font-semibold text-[20px]">Bandung Trip</P>

                            <P class="bg-[#003D4D] text-[#79a8ba] px-3 py-1 rounded-[4px]">9-11 ags 2026</P>

                        </div>

                        <!--Location card-->
                        <div class="flex flex-row items-center gap-2">
                            <div class="location-icon">
                                <i data-lucide="map-pin"></i>
                            </div>

                            <P>Bandung</P>
                        </div>
                    </div>

                    <!--bottom card-->
                    <div class="flex flex-row justify-between border-t-2  border-[#C0C8CC]/30 pt-4">
                        <div class="">
                            <P class="uppercase font-semibold text-[12px] text-[#71787C]">Total pegeluaran</P>

                            <P class="font-bold text-[28px] color-black">Rp 735.000</P>
                        </div>

                        <div class="bg-[#F3F4F5] px-3 py-2 h-fit flex flex-row gap-2 rounded-[4px]">
                            <div class="total-icon">
                                <i data-lucide="scroll-text"></i>
                                    
                            </div>

                            <P class="text-[#41484B] font-semibold">18</P>
                        </div>
                        
                    </div>
                </div>

                <div class="bg-white p-4 rounded-[12px] flex flex-col gap-4 shadow-[0_4px_20px_0_rgba(0,61,77,0.05)]">
                    <!--header card-->
                    <div class="flex flex-col gap-2 ">
                        <!--Tittle card-->
                        <div class="flex flex-row items-center justify-between">
                            <P class="text-[#002631] font-semibold text-[20px]">Bandung Trip</P>

                            <P class="bg-[#003D4D] text-[#79a8ba] px-3 py-1 rounded-[4px]">9-11 ags 2026</P>

                        </div>

                        <!--Location card-->
                        <div class="flex flex-row items-center gap-2">
                            <div class="location-icon">
                                <i data-lucide="map-pin"></i>
                            </div>

                            <P>Bandung</P>
                        </div>
                    </div>

                    <!--bottom card-->
                    <div class="flex flex-row justify-between border-t-2  border-[#C0C8CC]/30 pt-4">
                        <div class="">
                            <P class="uppercase font-semibold text-[12px] text-[#71787C]">Total pegeluaran</P>

                            <P class="font-bold text-[28px] color-black">Rp 735.000</P>
                        </div>

                        <div class="bg-[#F3F4F5] px-3 py-2 h-fit flex flex-row gap-2 rounded-[4px]">
                            <div class="total-icon">
                                <i data-lucide="scroll-text"></i>
                                    
                            </div>

                            <P class="text-[#41484B] font-semibold">18</P>
                        </div>
                        
                    </div>
                </div>

                <div class="bg-white p-4 rounded-[12px] flex flex-col gap-4 shadow-[0_4px_20px_0_rgba(0,61,77,0.05)]">
                    <!--header card-->
                    <div class="flex flex-col gap-2 ">
                        <!--Tittle card-->
                        <div class="flex flex-row items-center justify-between">
                            <P class="text-[#002631] font-semibold text-[20px]">Bandung Trip</P>

                            <P class="bg-[#003D4D] text-[#79a8ba] px-3 py-1 rounded-[4px]">9-11 ags 2026</P>

                        </div>

                        <!--Location card-->
                        <div class="flex flex-row items-center gap-2">
                            <div class="location-icon">
                                <i data-lucide="map-pin"></i>
                            </div>

                            <P>Bandung</P>
                        </div>
                    </div>

                    <!--bottom card-->
                    <div class="flex flex-row justify-between border-t-2  border-[#C0C8CC]/30 pt-4">
                        <div class="">
                            <P class="uppercase font-semibold text-[12px] text-[#71787C]">Total pegeluaran</P>

                            <P class="font-bold text-[28px] color-black">Rp 735.000</P>
                        </div>

                        <div class="bg-[#F3F4F5] px-3 py-2 h-fit flex flex-row gap-2 rounded-[4px]">
                            <div class="total-icon">
                                <i data-lucide="scroll-text"></i>
                                    
                            </div>

                            <P class="text-[#41484B] font-semibold">18</P>
                        </div>
                        
                    </div>
                </div>

                <div class="bg-white p-4 rounded-[12px] flex flex-col gap-4 shadow-[0_4px_20px_0_rgba(0,61,77,0.05)]">
                    <!--header card-->
                    <div class="flex flex-col gap-2 ">
                        <!--Tittle card-->
                        <div class="flex flex-row items-center justify-between">
                            <P class="text-[#002631] font-semibold text-[20px]">Bandung Trip</P>

                            <P class="bg-[#003D4D] text-[#79a8ba] px-3 py-1 rounded-[4px]">9-11 ags 2026</P>

                        </div>

                        <!--Location card-->
                        <div class="flex flex-row items-center gap-2">
                            <div class="location-icon">
                                <i data-lucide="map-pin"></i>
                            </div>

                            <P>Bandung</P>
                        </div>
                    </div>

                    <!--bottom card-->
                    <div class="flex flex-row justify-between border-t-2  border-[#C0C8CC]/30 pt-4">
                        <div class="">
                            <P class="uppercase font-semibold text-[12px] text-[#71787C]">Total pegeluaran</P>

                            <P class="font-bold text-[28px] color-black">Rp 735.000</P>
                        </div>

                        <div class="bg-[#F3F4F5] px-3 py-2 h-fit flex flex-row gap-2 rounded-[4px]">
                            <div class="total-icon">
                                <i data-lucide="scroll-text"></i>
                                    
                            </div>

                            <P class="text-[#41484B] font-semibold">18</P>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!--navigation bar for mobile-->
    <div class="bg-white md:hidden fixed bottom-0 left-0 right-0 shadow-[0_-4px_20px_0_rgba(0,61,77,0.05)] ">
        
        <div class="flex flex-row flex-row justify-between px-5 py-4">
            <a href="/index">
                <div class="flex flex-col items-center gap-1">
                    <div class="icon-list">
                        <i data-lucide="list"></i>
                    </div>

                    <P class="text-[#002631] font-bold text-[12px]">My Trips</P>
                </div>

            </a>


            <div class="flex flex-col items-center gap-1" id="btnAddTrip">
                    <div class="icon-lis">
                        <i data-lucide="circle-plus"></i>
                    </div>

                    <P class="text-[#002631] font-bold text-[12px]">add Trips</P>
            </div>

            <a>
                <div class="flex flex-col items-center gap-1">
                    <div class="icon-list">
                        <i data-lucide="settings"></i>
                    </div>

                    <P class="text-[#002631] font-bold text-[12px]">Settings</P>
                </div>

            </a>
        </div>
        
    </div>

    <!--Overlay add task-->
    <div id="overlayAddTrip"
        class=" hidden z-[60] bg-black/55 h-full w-full fixed top-0 flex justify-center items-end">
        
        <div 
            class="bg-white w-full h-[80%] rounded-t-[24px]   ">
            <!--header overlay add task-->
            <div class="py-6 border-b px-5 border-[#EDEEEF] flex flex-row justify-between items-center  ">
                <P class="font-semibold text-[20px]">Add Transaction</P>

                <div class="cancel-icon">
                    <i data-lucide="x"></i>
                </div>
            </div>

            <form class="h-full flex flex-col" action="/submitNewTrip" method="post">

                <!-- AREA FORM YANG BISA DI-SCROLL -->
                <div class="flex-1 min-h-0 overflow-y-auto px-5 py-4">

                    <!-- Trip Name -->
                    <div class="mb-6">
                        <p class="font-semibold text-[14px] text-[#41484B]">
                            Trip Name
                        </p>

                        <input
                            type="text"
                            placeholder="e.g. Summer in Italy"
                            class="w-full border border-[#C0C8CC] px-5 py-4 rounded-[8px] mt-2 font-bold text-[#6B7280] focus:text-black"
                            name="trip_name"
                            required
                        >
                    </div>


                    <!-- Total Budget -->
                    <div class="mb-6">
                        <p class="font-semibold text-[14px] text-[#41484B]">
                            Destination
                        </p>

                        <div class="relative mt-2">
                            <i
                                data-lucide="map-pin"
                                class="absolute left-4 top-1/2 -translate-y-1/2 w-5 h-5 text-[#6B7280]"
                            ></i>

                            <input
                                type="text"
                                placeholder="City, Country"
                                class="w-full border border-[#C0C8CC] pl-12 pr-4 py-4 rounded-[8px] outline-none focus:border-black focus:text-black"
                                name="location"
                            >
                        </div>
                    </div>


                    <!-- Start & End Date -->
                    <div class="flex flex-row gap-4 mb-6">

                        <div class="w-full">
                            <p class="font-semibold text-[14px] text-[#41484B]">
                                Start Date
                            </p>

                            <input
                                type="date"
                                class="w-full border border-[#C0C8CC] px-2 py-4 rounded-[8px] mt-2 font-bold text-[#6B7280] focus:text-black"
                                name="start_date"
                                required
                            >
                        </div>

                        <div class="w-full">
                            <p class="font-semibold text-[14px] text-[#41484B]">
                                End Date
                            </p>

                            <input
                                type="date"
                                class="w-full border border-[#C0C8CC] px-2 py-4 rounded-[8px] mt-2 font-bold text-[#6B7280] focus:text-black"
                                name="end_date"
                                required
                            >
                        </div>

                    </div>


                    <!-- Total Budget -->
                    <div class="mb-6">
                        <p class="font-semibold text-[14px] text-[#41484B]">
                            Total Budget
                        </p>

                        <div class="relative mt-2">
                            <i
                                data-lucide="wallet"
                                class="absolute left-4 top-1/2 -translate-y-1/2 w-5 h-5 text-[#6B7280]"
                            ></i>

                            <input
                                type="text"
                                placeholder="0"
                                class="w-full border border-[#C0C8CC] pl-12 pr-4 py-4 rounded-[8px] outline-none focus:border-black focus:text-black"
                                name="total_budget"
                            >
                        </div>
                    </div>


                    <!-- Notes -->
                    <div class="mb-6">
                        <p class="font-semibold text-[14px] text-[#41484B]">
                            Notes (opsional)
                        </p>

                        <textarea
                            rows="4"
                            placeholder="Tambahkan catatan..."
                            class="w-full resize-none rounded-lg border border-[#EDEEEF] px-4 py-3 mt-2 text-left outline-none focus:border-[#003D4D]"
                            name="note_trip"
                            ></textarea>
                    </div>

                </div>


                <!-- BUTTON AREA -->
                <div class="shrink-0 border-t border-[#EDEEEF] bg-white p-5">

                    <button
                        type="submit"
                        class="w-full bg-[#003D4D] text-white py-4 rounded-lg"
                    >
                        Create Trip
                    </button>

                    <button
                        type="button"
                        class="w-full mt-3 border border-[#003D4D] text-[#003D4D] py-4 rounded-lg"
                    >
                        Cancel
                    </button>

                </div>

            </form>

        </div>
    </div>
    
    <script>
        lucide.createIcons();
    </script>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>